<h1>About Meadowlark Travel</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam sequi dolores fugit delectus aliquam laudantium ducimus unde fuga incidunt, voluptatum eligendi assumenda in deserunt obcaecati accusantium at facere autem itaque!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur perferendis libero nesciunt non ipsam quasi minima, laboriosam distinctio quisquam eius consectetur iste nihil ratione quaerat laudantium aperiam eaque possimus deleniti.</p>
{{#if fortune}}
<p>Твое предсказание на сегодня:</p>
<blockquote>{{fortune}}</blockquote>
{{/if}}